*.[oa]
*.py[co]
*.npy
*.exe
*.log
*.out
*.dat
*.temp
*.jpeg
*.png
*.txt
*.zip
*.pkl
test.*

.project
.pydevproject
.DS_Store

.*/
data_*/
test/
build/
spark/
data/
backup/

000000_*
test_*

reyunawshadoop.pem
